<div class="index-container">

  <div class="search-container">
    <%= link_to root_path do %>
      <%= image_tag 'marvel_logo.png', alt: 'Marvel Logo' %>
    <% end %>

    <%= form_with url: characters_path, method: :get, local: true, html: { class: 'search-bar', id: 'search-form' } do |form| %>
      <%= form.text_field :name, placeholder: "Search character" %>
    <% end %>
  </div>

  <% if @comics.empty? %>
    <%= render partial: 'comics/try_again' %>
  <% else %>
    <%= render partial: 'comics/comics_list', locals: { comics: @comics } %>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.favorite-toggle').forEach((favorite) => {
      favorite.addEventListener('click', (e) => {
        e.currentTarget.classList.toggle('favorite-fill');
      })
    })
  });
</script>
