<div class="index-container">

  <div class="search-container">
    <%= link_to root_path do %>
      <%= image_tag 'marvel_logo.png', alt: 'Marvel Logo' %>
    <% end %>

    <%= form_tag(root_path, method: :get, class: "search-bar", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Comics", onkeydown: "if (event.key === 'Enter') { this.form.submit(); }" %>
    <% end %>
  </div>

  <% if @comics.empty? %>
    <%= render partial: 'comics/try_again' %>
  <% else %>
    <%= render partial: 'comics/comics_list', locals: { comics: @comics } %>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.favorite-toggle').forEach((favorite) => {
      favorite.addEventListener('click', (e) => {
        e.currentTarget.classList.toggle('favorite-fill');
      })
    })
  });
</script>
